   <br><br><br>
   <div class="row">

        <div class="col-md-2"></div>
        <div class="col-md-5">
           <b>{{ experience.companyName | uppercase }}</b> - {{experience.role}} - <i>{{experience.period}}</i>
        </div>
        <div class="col-md-3">
            <p>PROGETTI SVOLTI</p>
            @for(prog of experience.projects; track $index) {
              <b>{{$index+1}} - {{prog.name | uppercase}} </b><br>
              <p>{{prog.description}}</p>
              <i>Technologies: {{prog.technologies}}</i><br><br>
            }
        </div>

    </div>
    <hr>